<div class="container">
    <form [formGroup]="customButton">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Description
                    </mat-label>
                    <input matInput formControlName="description" required>
                </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="button.type === 'socket'">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Command id
                    </mat-label>
                    <input matInput formControlName="command_id" >
                </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="button.type === 'mqtt'">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Topic
                        </mat-label>
                        <input matInput formControlName="topic" >
                    </mat-form-field>
                </div>
                <div class="col-md-12" *ngIf="button.type === 'mqtt'">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Payload
                        </mat-label>
                        <textarea  matInput
                        cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize"
                        formControlName="payload"
                        cdkAutosizeMinRows="5"
                        cdkAutosizeMaxRows="100"></textarea>
                    </mat-form-field>
                </div>
                <button *ngIf="button.type === 'mqtt'" mat-raised-button color="primary" (click)="beautify()">Beautify</button>
                <div class="col-md-6" *ngIf="button.type === 'apiCall'">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> URL
                        </mat-label>
                        <input matInput formControlName="url" >
                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="button.type === 'apiCall'">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Fingerprint
                        </mat-label>
                        <input matInput formControlName="fingerprint" >
                    </mat-form-field>
                </div>
        </div>
        <br />
        <div class="col-md-6" style="float:right;">
            <button mat-raised-button color="primary" (click)="submit()">Save</button>
        </div>
    
        </form>
</div>
