
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="fill">
                <mat-label>Choose a button type</mat-label>
                <mat-select [formControl]="selected">
                  <mat-option value="mqtt">Mqtt button</mat-option>
                  <mat-option value="apiCall">Api call button</mat-option>
                  <mat-option value="socket">Macrodeck button</mat-option>
                </mat-select>
              </mat-form-field>
        </div>
    </div>
    <form [formGroup]="customButton">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Description
                    </mat-label>
                    <input matInput formControlName="description" required>
                </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="selected.value === 'socket'">
                <mat-form-field class="form-field" appearance="outline">
                    <mat-label> Command id
                    </mat-label>
                    <input matInput formControlName="command_id" >
                </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="selected.value === 'mqtt'">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Topic
                        </mat-label>
                        <input matInput formControlName="topic" >
                    </mat-form-field>
                </div>
                <div class="col-md-12" *ngIf="selected.value === 'mqtt'">
                  
                </div>
                <button *ngIf="selected.value === 'mqtt'" mat-raised-button color="primary" (click)="beautify()">Beautify</button>
                <div class="col-md-6" *ngIf="selected.value === 'apiCall'">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> URL
                        </mat-label>
                        <input matInput formControlName="url" >
                    </mat-form-field>
                </div>
                <div class="col-md-6" *ngIf="selected.value === 'apiCall'">
                    <mat-form-field class="form-field" appearance="outline">
                        <mat-label> Fingerprint
                        </mat-label>
                        <input matInput formControlName="fingerprint" >
                    </mat-form-field>
                </div>
        </div>
        <br />
        <div class="col-md-6" style="float:right;">
            <button mat-raised-button color="primary" (click)="submit()">Save</button>
        </div>
    
        </form>
</div>

<app-monaco-editor-wrapper 
        class="editor"
        [editorOptions]="editorOptions"
        [(ngModel)]="code" #fileView ></app-monaco-editor-wrapper>

