@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html{
  height: 100vh;
}
body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  height: 100vh;
}

.basic-container {
  padding: 5px;
  height: 100vh;
}

.version-info {
  font-size: 8pt;
  float: right;
}


/**  Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license */
