<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Version on the device: {{firmwareVersion}}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" [ngStyle]="{'color':latestFirmwareAvailable ===  firmwareVersion? 'green' : 'red' }">
        <div class="col-md-12">
            <p>Latest version: {{latestFirmwareAvailable}}</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" *ngIf="latestFirmwareAvailable !==  firmwareVersion">
        <div class="col-md-12">
            <button mat-raised-button color="primary" (click)="uploadToMacroDeck()">Update firmware to latest version</button>
        </div>
    </div>
    <div class="row" *ngIf="latestFirmwareAvailable ===  firmwareVersion">
        <div class="col-md-12">
            <button mat-raised-button color="primary" (click)="uploadToMacroDeck()">Reinstall firmware</button>
        </div>
    </div>
    <br />
    <br />

    <div class="center">
        <mat-progress-bar style="width: 70%;;margin: 13%;" *ngIf="progressBar" mode="determinate" [value]="progressBarValue"></mat-progress-bar>
    </div>

</div>

